.idea
Algorithm.iml
Øving1/.idea
Øving1/Øving1.iml
Øving1/out
Øving2/out
Øving2/Øving2.iml
Øving3Math/out
Øving3Math/Øving3Math.iml
øving3/øving3.iml
øving3/out
oving4/out
oving4/oving4.iml
øving5/øving5.iml
øving5/out
Øving8/out
Øving8/Øving8.iml
Øvin11/out
Øvin11/Øvin11.iml
Øving13/out
Øving13/Øving 13.iml
Huffman/Huffman.iml
Huffman/out






